.body {
    display: block;
    text-align: center;
}

.body h1 {
    font-size: 70px;
    font-weight: 500;
    margin-top: 200px;
}

.body p {
    font-size: 20px;
    padding: 0;
    margin-top: -40px;
}